
<h2>La Empresa</h2>
<hr>
<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <h4>MISIÓN</h4>
            </div>
            <div class="card-body">
                <b>Corporación Agrosechura Perú S.A.C.</b>, tiene por misión la explotación de
                fosfatos naturales y el proceso de abonos orgánicos, con la finalidad de apoyar a la
                agricultura orgánica en la sana fertilización, preservando la fertilidad del suelo y
                el medio ambiente.
            </div>
        </div>
        <br>
    </div>
    <div class="col-md">
        <div class="card">
            <div class="card-header">
                <h4>VISIÓN</h4>
            </div>
            <div class="card-body">
                Somos una Corporación competitiva e innovadora, comprometida con la Agricultura
                Orgánica, promoviendo el uso de Fosfatos Naturales y productos orgánicos como fuente
                nutricional de los cultivos, cuyos logros alcanzarán la consolidación de una
                fundación Peruana líder en nuestro rubro, que contribuya a la salud y conservación
                del medio ambiente.
            </div>
        </div>
    </div>
</div>
<hr>


<p class="subtitulos-e">
    <strong>
        NUESTRA CORPORACIÓN
    </strong>
</p>
<p align="justify">
    <b>Corporación Agrosechura Perú S.A.C.</b>, fue creada de acuerdo a la Ley General
    de Sociedades Mercantiles, cuyas actividades tienen por objeto la explotación de
    Fosfatos Naturales del Desierto de Sechura-Bayóvar –Piura, y el desarrollo de
    procesos para la elaboración de productos orgánicos , con la finalidad de participar
    competitivamente en el mercado Nacional e Internacional.<br><br>
    <b>Corporación Agrosechura Perú S.A.C.</b>, dispone de Yacimientos de Fosfatos en
    Bayóvar-Desierto de Sechura , ubicados en la Carta Nacional Lobos de Tierra(13-B),
    que garantizan la calidad y capacidad de abastecimiento al mercado interno y
    externo.<br><br>
    <b>Corporación Agrosechura Perú S.A.C.</b>, está conformado por un grupo empresarial
    de amplia experiencia, cuyos profesionales y técnicos son pioneros en la extracción
    de fosfatos desde la década pasada, utilizando medios naturales y físicos para el
    procesamiento de la Roca Fosfórica, Diatomita y abonos orgánicos en sus Plantas de
    las Ciudades de Piura y Lima, con el objeto de resguardar sus elementos
    nutricionales, contribuyendo a la sana fertilización de los cultivos.
    <br><br>
</p>