<h2>ZONAS DE DISTRIBUCIÓN</h2>
<hr>
<div class="row">
    <div class="col-md">
        <p align="justify"><b>Corporación Agrosechura Perú S.A.C.</b>, realiza el abastecimiento
            directo de Roca Fosfórica y a través de sus distribuidores del Perú y Ecuador, a las
            principales regiones, donde se localizan zonas de cultivos orgánicos.
            &nbsp;</p>
    </div>
    <div class="col-md text-center">
        <img src="assets/img/logo-productos.jpg">
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md">
        <div>
            <h5 class="text-center"><strong>Plantas de Procesamiento</strong></h5>
            <p style="padding-left:20px;">
                <strong>Piura</strong>: Cl. Los Pinos N° 414 - Simbilá - Catacaos<br>
                <strong>Lima</strong>: Asoc. de Vivienda Santa Rosa de Llanavilla Mz. D Lote 17 Villa el Salvador
            </p>
        </div>
        <div class="text-center"><img  src="assets/img/bolsa-productos.jpg" width="171">
        </div>
    </div>
    <br>
    <div class="col-md">
        <h5>Ubicaciones</h5>
        <img height="477" src="assets/img/mapa-final1.gif" width="333">
    </div>
</div>