<h1>Compromiso Empresarial</h1>
<hr>
<p>
    <b>La agricultura responsable</b>, implica incrementar la producción y calidad de las cosechas, empleando medios de
    última generación, programas de fertilización y un eficiente manejo agronómico. <br><br>
    <b>La agricultura orgánica</b>, promueve la producción sana de los cultivos desde el punto de vista ambiental, cuya
    demanda se incrementa paulatinamente como nueva alternativa de consumo interno y de exportación para el mundo en
    desarrollo que se preocupa por la salud y el medio ambiente. <br><br>
    <b>El agricultor</b> de hoy ante estos conceptos, está prestando mayor interés en los cultivos orgánicos, en la
    conservación del suelo y su fertilidad; el cual viene siendo afectado silenciosamente por el monocultivo intenso, y
    el abuso de productos químicos en sus programas de fertilización. <br><br>
    <b>El Norte del Perú</b>, es poseedor de yacimientos de <b>Roca Fosfórica</b>. Fosfatos de origen sedimentario
    marino, que se formaron a través de millones de años, ricos en Fósforo, Calcio y elementos nutritivos para las
    plantas, que son aplicables directamente o como una excelente fuente de fertilizantes. <br><br>
    Ante esta situación, y al disponer de yacimientos de fosfatos, nuestro Grupo Empresarial Peruano conformado por
    <b>Corporación Agrosechura Perú SAC</b>, está comprometido con la Agricultura Orgánica , al promover en el mercado
    Nacional e Internacional, el uso de la Roca Fosfórica y Abonos con Certificación Orgánica.
    <br><br>
</p>
<b class="font-italic">
    Presidente Ejecutivo.
</b>
<br>