
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
      <a class="navbar-brand " routerLink="/">
          <img src="assets/img/logo-productos.jpg" width="100" alt="Imagen de Login">
      </a>
      <button class="navbar-toggler" (click)="onShow()">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" [class.show]="show">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item ">
                  <a class="nav-link" routerLink="/compromiso">
                      Compromiso
                  </a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" routerLink="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" routerLink="/distribucion">Distribucion</a>
              </li>
              <li class="nav-item ">
                  <a class="nav-link" routerLink="/contacto">Contáctenos</a>
              </li>
          </ul>
      </div>
  </div>
</nav>
<main class="container">
  <div class="m-3 p-3">
    <router-outlet></router-outlet>
  </div>
</main>
<div class="btn-wpp-float m-3">
  <a class="btn-wpp" target="_blank"
      href="https://wa.me/+51969220406/?text=Hola,%20quiero%20realizar%20un%20pedido" data-toggle="tooltip"
      data-placement="top" title="Contactenos">
    <img src="assets/img/wpp.png" alt="">
  </a>
</div>

<div class="footer pie_pagina">
  <div class="container ">
      <div class="row">
          <div class="col-lg-8">
              <div class="row">
                  <div class="col-md">
                      <div class="card">
                          <div class="card-body">
                              <strong>Ubicanos en Lima: </strong> <br>
                              <i class="fas fa-map-marker-alt"></i>Asoc. de Vivienda Santa Rosa de Llanavilla Mz.
                              D Lt. 17 - Villa El Salvador <br>
                              <i class="fas fa-phone-alt"></i> 01-2483061 /
                              <i class="fas fa-mobile-alt"></i> 988085324 <br>
                              <strong>Rpc</strong> 980467939<br>
                              <p><i class="far fa-envelope"></i> jessica@agrosechura.com.pe</p>

                          </div>
                      </div>
                      <br>
                  </div>
                  <div class="col-md">
                      <div class="card">
                          <div class="card-body">
                              <strong>Ubicanos en Piura:</strong><br>
                              <i class="fas fa-map-marker-alt"></i>Calle Los Pinos Nº 414 - Simbilá - Catacaos <br>
                              <i class="fas fa-mobile-alt"></i> 969220406 <br>
                              <i class="far fa-envelope"></i> karina@agrosechura.com.pe <br>
                              <strong>Correos Principales: </strong><br>
                              <i class="far fa-envelope"></i> info@agrosechura.com.pe <br>
                              <i class="far fa-envelope"></i> ventas@agrosechura.com.pe
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 text-center">
              <strong>Certificado por : </strong><br>
              <img src="assets/img/controlunion.jpg" alt="control union">
          </div>
      </div>
      <p class="text-center"><strong>©<label id="year"></label> - agrosechura.com.pe ®</strong>
          Todos Los Derechos Reservados.</p>
  </div>
</div>

